<div class="our-team">
  <a href="#nate" class="fancybox">
    <p><img src="http://www.pursuityourself.com/media/wysiwyg/nate-demars.png" alt="Nate DeMars" /></p>                                    <p>Nate DeMars<br />Founder + CEO</p>                        </a>
  </div>
  <div class="team-photo">
    <a href="#shay" class="fancybox">
      <p><img src="http://www.pursuityourself.com/media/wysiwyg/shay-merritte.png" alt="Shay Merritte" /></p>                                    <p>Shay Merritt&eacute;<br />Chief Creative Officer</p>                            </a>
    </div>
    <div class="team-photo">
      <a href="#david" class="fancybox">
        <p><img src="http://www.pursuityourself.com/media/wysiwyg/david-luksenberg.png" alt="Nate DeMars" /></p>                                <p>David Luksenburg<br />Marketing Manager</p>                            </a>
      </div>
      <div class="team-photo">
        <a href="#jake" class="fancybox">
          <p><img src="http://www.pursuityourself.com/media/wysiwyg/jake-mendel.png" alt="Jake Mendel" /></p>                                <p>Jake Mendel<br />Director of Development</p>                            </a>
        </div>