<div id=team>

  <h2>While only being a team for 2 days, all of us have been developers for <i>over</i> 4 weeks!</h2>  
<div class="team-photo">
  <img src="https://secure.gravatar.com/avatar/96f313e05b907acd7ce043d821bd04e1?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="250" height="250" alt="Nate Wroblewski" />    <p>Nate Wroblewski<br>Founder + CEO</p>    
  </div>
  <div class="team-photo">
      <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/653_54930461159_9463_n.jpg" width="250" height="250" alt="Ken Rettberg" /><p>Ken Rettberg<br>Chief Creative Officer</p>
    </div>
    <div class="team-photo">
      <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc1/538151_10150888936387861_1815484179_n.jpg" width="250" height="250" alt="Adam Sartell"/> <p>Adam Sartell<br>Marketing Manager</p></div>

      <div class="team-photo">
        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/388353_3067665250338_974470289_n.jpg" width="250" height="250" alt="Travis Lawrence"/><p>Travis Lawrence<br />Director of Development</p>
      </div>
    </div>