<div class="container">

  <h1>Welcome to Flash Cards!</h1>

  <h2>Create an Account</h2>
  <form method="post" action="/signup">
   <p><input type="text" name="name" placeholder="First Name"></p>
   <p><input type="text" name="email" placeholder="Email"></p>
   <p><input type="password" name="password" placeholder="Password"></p>
   <p><input type="submit" value="Create"></p>
  </form>
  <hr>
  
  <!-- LOGIN FORM -->
  <h2>Login</h2>
  <form method="post" action="/login">
   <p><input type="text" name="email" placeholder="Email"></p>
   <p><input type="password" name="password" placeholder="Password"></p>
   <p><input type="submit" value="Login"></p>
  </form>


</div>
