<% erb :_navbar, :layout => false %>

<div class="container">
  <h1>Let's play this <%= @deck.name %></h1>
  
  <% until game_over %> <!-- need to figure this out! -->
    <%= @deck.each do |card| %>
      <%= card.question %>
      
  
  

</div>











<!-- 
later features
-high score and user 
-->