<div class="container">
  <h1>Let's play a game about <%= @deck.name %></h1>
  
  
    <% @deck.cards.each do |card| %> 
  <div id="question">   
      <h3><%= card.question %><h3>
        <form class='get_answer' method="post" action="/check_answer">
          <input class="user_answer" type='text'required name="user_answer">
          <input class="db_answer" type='hidden' name="card_answer" value='<%= card.answer %>'>
           <input class="db_cardid" type='hidden' name="card_id" value='<%= card.id %>'>
          <input type='submit' value='Final Answer'>
        </form>
       <!--  <p><#% if check_answer(params[:answer]) %></p>
          <p>Correct!</p>
          <#% else %>  
          <p>Incorrect!</p>  
        <#% end %> -->
        </div>
    <% end %>
 



  
  

</div>











<!-- 
later features
-high score and user 
-->