<% erb :_navbar, :layout => false %>

<div class="container">
  <h1>Let's play this <%= @deck.name %></h1>
  
  <p></p> <!-- AJAX goes here showing card definition? -->
  
  

</div>











<!-- 
later features
-high score and user 
-->